.sidebar {
  width: 220px;
  background: #1e293b;
  color: white;
  height: 100vh;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar a {
  display: block;
  color: white;
  text-decoration: none;
  margin: 10px 0;
}

.sidebar a.active {
  font-weight: bold;
  color: #38bdf8;
}
